<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mail</th>
      <th>Send Due Date Reminder</th>
      <th>Due Date Reminder Interval</th>
      <th>Due Date Reminder Time</th>
      <th>Time Zone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.mail %></td>
        <td><%= user.send_due_date_reminder ? 'Yes' : 'No' %></td>
        <td><%= user.due_date_reminder_interval %></td>
        <td><%= user.due_date_reminder_time %></td>
        <td><%= user.time_zone %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
